.sub {
    color: white;
    background-color: rgb(200, 0, 0);
    border-radius: 2px;
    height: 35px;
    width: 105px;
    border: none;
    cursor: pointer;
    margin-right: 8px;
}

.join {
    color: rgb(27, 27, 237);
    border-color: rgb(14, 14, 247);
    border-style: solid;
    border-width: 1px;
    height: 35px;
    width: 65px;
    border-radius: 2px;
    cursor: pointer;
    opacity: 1;
}

button .active{
    width: 75%;
    opacity: 0;
}
.tweet {
    color: white;
    background-color: rgb(2, 158, 255);
    border: none;
    height: 35px;
    width: 75px;
    border-radius: 17px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    margin-left: 8px;
}

 